@model YourProjectName_ViewModels.SecurityRoleViewModel
@using YourProjectName_Resources

@{
    ViewBag.Title = @Resources.SecurityRole;
}

@Styles.Render("~/Content/home")

<script type="text/javascript">

    function btnAdd() {
        var selectedOpts = $('#RoleAvailableTasks option:selected');
        if (selectedOpts.length == 0) {
            alert("@Resources.NothingSelected.");
        }

        $('#RoleTasks').append($(selectedOpts).clone());
        $(selectedOpts).remove();
    }

    function btnAddAll() {
        var selectedOpts = $('#RoleAvailableTasks option');
        if (selectedOpts.length == 0) {
            alert("@Resources.NothingSelected.");
        }

        $('#RoleTasks').append($(selectedOpts).clone());
        $(selectedOpts).remove();
    }

    function btnRemove() {
        var selectedOpts = $('#RoleTasks option:selected');
        if (selectedOpts.length == 0) {
            alert("@Resources.NothingSelected.");
        }

        $('#RoleAvailableTasks').append($(selectedOpts).clone());
        $(selectedOpts).remove();
    }

    function btnRemoveAll() {
        var selectedOpts = $('#RoleTasks option');
        if (selectedOpts.length == 0) {
            alert("@Resources.NothingSelected.");
        }

        $('#RoleAvailableTasks').append($(selectedOpts).clone());
        $(selectedOpts).remove();
    }

    function btnUserAdd() {
        var selectedOpts = $('#RoleAvailableUsers option:selected');
        if (selectedOpts.length == 0) {
            alert("@Resources.NothingSelected.");
        }

        $('#RoleUsers').append($(selectedOpts).clone());
        $(selectedOpts).remove();
    }

    function btnUserAddAll() {
        var selectedOpts = $('#RoleAvailableUsers option');
        if (selectedOpts.length == 0) {
            alert("@Resources.NothingSelected.");
        }

        $('#RoleUsers').append($(selectedOpts).clone());
        $(selectedOpts).remove();
    }

    function btnUserRemove() {
        var selectedOpts = $('#RoleUsers option:selected');
        if (selectedOpts.length == 0) {
            alert("@Resources.NothingSelected.");
        }

        $('#RoleAvailableUsers').append($(selectedOpts).clone());
        $(selectedOpts).remove();
    }

    function btnUserRemoveAll() {
        var selectedOpts = $('#RoleUsers option');
        if (selectedOpts.length == 0) {
            alert("@Resources.NothingSelected.");
        }

        $('#RoleAvailableUsers').append($(selectedOpts).clone());
        $(selectedOpts).remove();
    }

    function SaveSelectedItems() {
        var IDs = '';
        $('#RoleTasks option').each(function () {
            IDs += ',' + $(this).val();
        });
        $('#RoleTasksIDs').val(IDs);

        IDs = '';
        $('#RoleUsers option').each(function () {
            IDs += ',' + $(this).val();
        });
        $('#RoleUsersIDs').val(IDs);
    }

</script>

<div class="metso-home">
    <div class="jumbotron">
        <div class="container">
            <div class="page-header">
                <br />
                <h1>
                    @ViewBag.Title
                </h1>
            </div>
        </div>
    </div>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(model => model.idrole)
                        @Html.HiddenFor(model => model.plant_id)

                        <input type="hidden" value="x" id="RoleTasksIDs" name="RoleTasksIDs" />
                        <input type="hidden" value="x" id="RoleUsersIDs" name="RoleUsersIDs" />

                        <div class="form-group">
                            @Html.LabelFor(model => model.role_description, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.role_description, new { htmlAttributes = new { @class = "form-control", style = "width: 300px" } })
                                @Html.ValidationMessageFor(model => model.role_description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>@Resources.Task</h4>
                    <hr />
                    <div class="col-md-offset-1">
                        <table>
                            <tr>
                                <td>
                                    <span style="font-weight:bold">@Resources.RoleAvailableTasks:</span>
                                    <br />
                                    @Html.ListBox("RoleAvailableTasks", ViewData["RoleAvailableTasks"] as List<SelectListItem>, new { @class = "form-control", size = 10, style = "width: 100%;background-color:#f2f2f2;" })
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <table cellspacing="10">
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm btn-round" onclick="javascript: btnAdd();" style="width:100%"><i class="fas fa-angle-right"></i> @Resources.Add</button>
                                            </td>
                                        </tr>
                                        <tr style="height:4px">
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm btn-round" onclick="javascript: btnAddAll();" style="width:100%"><i class="fas fa-angle-double-right"></i> @Resources.AddAll</button>
                                            </td>
                                        </tr>
                                        <tr style="height:4px">
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm btn-round" onclick="javascript: btnRemove();" style="width:100%"><i class="fas fa-angle-left"></i> @Resources.Remove</button>
                                            </td>
                                        </tr>
                                        <tr style="height:4px">
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm btn-round" onclick="javascript: btnRemoveAll();" style="width:100%"><i class="fas fa-angle-double-left"></i> @Resources.RemoveAll</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <span style="font-weight:bold">@Resources.RoleTasks:</span>
                                    <br />
                                    @Html.ListBox("RoleTasks", ViewData["RoleTasks"] as List<SelectListItem>, new { @class = "form-control", size = 10, style = "width: 100%;background-color:#d6e5fc;" })
                                </td>
                            </tr>
                        </table>
                        <br />
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>@Resources.User</h4>
                    <hr />
                    <div class="col-md-offset-1">
                        <table>
                            <tr>
                                <td>
                                    <span style="font-weight:bold">@Resources.RoleAvailableUsers:</span>
                                    <br />
                                    @Html.ListBox("RoleAvailableUsers", ViewData["RoleAvailableUsers"] as List<SelectListItem>, new { @class = "form-control", size = 10, style = "width: 100%;background-color:#f2f2f2;" })
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <table cellspacing="10">
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm btn-round" onclick="javascript: btnUserAdd();" style="width:100%"><i class="fas fa-angle-right"></i> @Resources.Add</button>
                                            </td>
                                        </tr>
                                        <tr style="height:4px">
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm btn-round" onclick="javascript: btnUserAddAll();" style="width:100%"><i class="fas fa-angle-double-right"></i> @Resources.AddAll</button>
                                            </td>
                                        </tr>
                                        <tr style="height:4px">
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm btn-round" onclick="javascript: btnUserRemove();" style="width:100%"><i class="fas fa-angle-left"></i> @Resources.Remove</button>
                                            </td>
                                        </tr>
                                        <tr style="height:4px">
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm btn-round" onclick="javascript: btnUserRemoveAll();" style="width:100%"><i class="fas fa-angle-double-left"></i> @Resources.RemoveAll</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <span style="font-weight:bold">@Resources.RoleUsers:</span>
                                    <br />
                                    @Html.ListBox("RoleUsers", ViewData["RoleUsers"] as List<SelectListItem>, new { @class = "form-control", size = 10, style = "width: 100%;background-color:#d6e5fc;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <br /><br />

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-success btn-sm btn-round" onclick="javascript: SaveSelectedItems();"><i class="fas fa-check"></i> @Resources.Save</button>
                            <button type="button" class="btn btn-danger btn-sm btn-round" onclick="javascript: document.location = '@Url.Action("RoleIndex", "Security")';"><i class="fas fa-ban"></i> @Resources.Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br /><br />
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>